OWNER_URL = // owner url for sending email to owner
USER_URL =  // user url for sending email to user

MONGO_URI =   // mongodb url

JWT_SECRET =  // jwt secret

EMAIL =  // email for sending email
// password will get from app password in google account
PASSWORD =  // password for sending email


PORT = 1234

//  This details will get from cloudinary account
CLOUDINARY_CLOUD_NAME =  // cloudinary cloud name
CLOUDINARY_API_KEY =  // cloudinary api key
CLOUDINARY_API_SECRET =  // cloudinary api secret


// This details will get from razorpay account
RAZORPAY_KEY_ID =  // razorpay key id
RAZORPAY_KEY_SECRET = // razorpay key secret


// For further details about this project contact me : rijobdk@gmail.com
